.ant-carousel{
    width: 960px;
    margin: auto;
    height: 400px;
    margin-top: 120px;
}

.ant-row{
    display: flex;
    justify-content: center;
    max-width: 1040px;
    padding: 16px;
    flex-wrap:wrap;
    margin:0 auto;
    .cardrow{
        height: 150px;
    }
}

.ant-col{
    margin-top: 100px;
    margin: 16px;
}

.ant-layout .ant-layout-has-sider{
    position: fixed;
    height: 100%;
}
.ant-layout .ant-layout-sider-has-trigger{
    margin-top: 65px;
}
.ant-layout .ant-layout-sider-trigger{
    background-color:#a0be17;
    position: fixed;
}

.ant-image{
    height: '100%';
    width: '70%';
    // margin-left: 500px;
}

.ant-typography{
    display: flex;
    justify-content: center;
    color: #546217;
    font-size: 40px;
    align-items: center;
    margin-top: 15px;
}

.ant-card-cover{
    margin: auto;
    display: flex;
    justify-content: center;

}

.ant-card{
    width:320px;
    margin-top: 150px;
}

.ant-flex{
    display: flex;
    justify-content: center;
    max-width: 1200px;
    padding: 16px;
    flex-wrap:wrap;
    margin:0 auto;
}
