// @import '~antd/dist/antd.css';

.ant-layout-header .appbar-header{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 60px;
    width: 100%;
    z-index: 1;
    background: #fff !important;
    color: #fff;
}
