// @import '~antd/dist/antd.css';
.ant-layout .ant-layout-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    z-index:1;
    width:100%;
}

.ant-space{
    margin:auto;
} 
.headerImage{
    width: 90px;
    height: 80px;

}
.headerName{
    color: #546217;
    display: flex;
    margin:auto;
    margin-top: -18px;
}

// .ant-popover{
//     overflow: hidden;  
//     height: 320px;
//     width: 100%;
// }

// .ant-popover-content{   
//     position: relative;
//     left: 1100px;
//     overflow: hidden;
//     width: 360px;
//     height: 320px;

// }

.ant-image .ant-image-img{
    width: 90px;
    height: 100px
}

// .ant-popover-inner{
//     position: absolute;
//     inset: 0px;
//     overflow: scroll;
//     margin-right: -17px;
//     margin-bottom: -17px;

// }
